.sub-nav{
  //padding-left: 20px;
  li{
    cursor: pointer;
    .category-1{
      //padding-left: 20px;
      .category-2{
        position: relative;
        height: 30px;
        &:hover{
          color: #0070d2;
        }
        .sub-name{
          display: inline-block;
          height: 100%;
          width: 100%;
        }
        .category-3{
          display: none;
          height: 100%;
          text-align: center;
          color: #0070d2;
          font-size: 18px;
          position: absolute;
          right: 0;
          .new-category{
            display: inline-block;
            width: 30px;
            position: absolute;
            right: 0;
          }
          .delete-category{
            right: 30px;
          }
        }
        .category-4{
          display: inline-block;
          width: calc(100% - 60px);
          height: 30px;
          .active{
            color: #0070d2;
          }
        }
      }
    }

  }
}
