<ul class="sub-nav">
  <li *ngFor="let sub of directories;let i = index">
    <div class="category-1">
      <div class="category-2">
        <div class="category-4">
          <span class="sub-name"
                [ngClass]="{'active': categoryActiveId === sub.id}"
                (click)="showEditView(sub)">{{sub.name}}</span>
          <!--<span class="sub-name" *ngIf="sub.subNav && sub.subNav.length > 0"-->
                <!--(click)="sub.isOpen = !sub.isOpen">{{sub.name}}</span>-->

          <!--<span class="sub-name" *ngIf="!sub.subNav || sub.subNav.length <=0"-->
                <!--[ngClass]="{'active': categoryActiveId === sub.id}"-->
                <!--(click)="showEditView(sub)">{{sub.name}}</span>-->
        </div>
        <div class="category-3">
          <span class="new-category delete-category" (click)="deleteCategory(sub)">-</span>
          <span class="new-category" (click)="newCategory(sub)">+</span>
        </div>
      </div>
      <app-h-button *ngIf="sub.subNav && sub.subNav.length > 0"
                         (new)="newCategory($event)" (delete)="deleteCategory($event)"
                         (show)="showEditView($event)"
                         [directories]="sub.subNav"
                         [node]="node+1" [style.display]="sub.isOpen ? 'block' : 'none'"></app-h-button>
    </div>
  </li>
</ul>
