<div class="my-nav">
  <ul class="current-nav">
    <li *ngFor="let item of currentNav">
      <div class="nav-name">{{item.name}}</div>
      <ul class="sub-nav" *ngIf="item.subNav.length > 0">
        <li *ngFor="let sub of item.subNav">
          <div *ngIf="!sub.subNav || sub.subNav.length <=0">
            <span>{{sub.name}}</span>
          </div>
          <div *ngIf="sub.subNav && sub.subNav.length > 0">
            <div>{{sub.name}}</div>
            <ul class="sub-nav2">
              <li *ngFor="let sub2 of sub.subNav">
                <div>
                  <span>{{sub2.name}}</span>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>





<!--<div class="my-nav">-->
  <!--<ul class="current-nav">-->
    <!--<li *ngFor="let item of currentNav">-->
      <!--<div class="nav-name">{{item.name}}</div>-->
      <!--<ul class="sub-nav" *ngIf="item.subNav.length > 0">-->
        <!--<li *ngFor="let sub of item.subNav">-->
          <!--<a routerLink="{{sub.link}}" routerLinkActive="active" *ngIf="!sub.subNav || sub.subNav.length <=0">-->
            <!--<span>{{sub.name}}</span>-->
          <!--</a>-->
          <!--<div *ngIf="sub.subNav && sub.subNav.length > 0">-->
            <!--<div>{{sub.name}}</div>-->
            <!--<ul class="sub-nav2">-->
              <!--<li *ngFor="let sub2 of sub.subNav">-->
                <!--<a routerLink="{{sub2.link}}" routerLinkActive="active">-->
                  <!--<span>{{sub2.name}}</span>-->
                <!--</a>-->
              <!--</li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</li>-->
  <!--</ul>-->
<!--</div>-->
