.my-nav{
  width: 150px;
  background-color: #fff;
  position: absolute;
  top:130px;
  left: 0;
  color: #54698D;
  height: calc(100% - 130px);
  border: 1px solid #d8dde6;
  .current-nav{

    li{
      .nav-name{
        font-size: 16px;
        background-color: #f0f8fe;
        height: 40px;
        line-height: 40px;
        padding-left: 10px;

      }
      .sub-nav{
        padding-left: 20px;
        li{
          .sub-nav2{
            padding-left: 10px;
          }
        }
      }
    }
    .active{
      color: #0070d2;

    }
  }
}
