.control-desc{
  padding: 20px;
  .control-title{
    font-size: 18px;
    color: #333333;
  }
  .desc{
    font-size: 14px;
    color: #333333;
  }
  .control-main{
    .title-0{
      font-size: 14px;
      color: #16325C;
      display: inline-block;
      margin-right: 50px;
    }
    .new-case{
      background:  #596674;
      color: #ffffff;
      float: right;
      height: 32px;
      font-size: 14px;
      //line-height: 32px;
    }
  }
}
